<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5ifFtBz4fEUV_24NWDgqYjzpPWc93l68</string>
	<key>GCM_SENDER_ID</key>
	<string>490507281717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miragemasque.masqueradegame</string>
	<key>PROJECT_ID</key>
	<string>mirage-masquerade</string>
	<key>STORAGE_BUCKET</key>
	<string>mirage-masquerade.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490507281717:ios:51c1dc43515f261649d87c</string>
</dict>
</plist>